service-stubs/org.wso2.carbon.user.mgt.stub/src/main/resources/MultipleCredentialsUserAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://multiplecredentials.mgt.user.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2102="http://common.mgt.user.carbon.wso2.org/xsd" xmlns:ax2104="http://multiplecredentials.core.user.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://multiplecredentials.mgt.user.carbon.wso2.org">
    <wsdl:documentation>MultipleCredentialsUserAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.mgt.user.carbon.wso2.org/xsd">
            <xs:complexType name="MultipleCredentialsUserAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2103="http://common.mgt.user.carbon.wso2.org/xsd" xmlns:ax2105="http://multiplecredentials.core.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://multiplecredentials.mgt.user.carbon.wso2.org">
            <xs:import namespace="http://common.mgt.user.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://multiplecredentials.core.user.carbon.wso2.org/xsd"/>
            <xs:element name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MultipleCredentialsUserAdminException" nillable="true" type="ax2103:MultipleCredentialsUserAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateCredential">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credentialType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credential" nillable="true" type="ax2105:Credential"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCredentials">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="anIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credentialType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCredentialsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2105:Credential"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credentialType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCredential">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credentialType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="credential" nillable="true" type="ax2105:Credential"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="credential" nillable="true" type="ax2105:Credential"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roleList" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2103:ClaimValue"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="credential" nillable="true" type="ax2105:Credential"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roleList" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2103:ClaimValue"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCredential">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="anIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credentialType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="credential" nillable="true" type="ax2105:Credential"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://multiplecredentials.core.user.carbon.wso2.org/xsd">
            <xs:complexType name="Credential">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="credentialProperties" nillable="true" type="ax2104:CredentialProperty"/>
                    <xs:element minOccurs="0" name="credentialsType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CredentialProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addUsersRequest">
        <wsdl:part name="parameters" element="ns:addUsers"/>
    </wsdl:message>
    <wsdl:message name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
        <wsdl:part name="parameters" element="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
    </wsdl:message>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="updateCredentialRequest">
        <wsdl:part name="parameters" element="ns:updateCredential"/>
    </wsdl:message>
    <wsdl:message name="addCredentialRequest">
        <wsdl:part name="parameters" element="ns:addCredential"/>
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ns:deleteUser"/>
    </wsdl:message>
    <wsdl:message name="deleteCredentialRequest">
        <wsdl:part name="parameters" element="ns:deleteCredential"/>
    </wsdl:message>
    <wsdl:message name="getCredentialsRequest">
        <wsdl:part name="parameters" element="ns:getCredentials"/>
    </wsdl:message>
    <wsdl:message name="getCredentialsResponse">
        <wsdl:part name="parameters" element="ns:getCredentialsResponse"/>
    </wsdl:message>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ns:addUser"/>
    </wsdl:message>
    <wsdl:portType name="MultipleCredentialsUserAdminPortType">
        <wsdl:operation name="addUsers">
            <wsdl:input message="ns:addUsersRequest" wsaw:Action="urn:addUsers"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:addUsersMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <wsdl:input message="ns:authenticateRequest" wsaw:Action="urn:authenticate"/>
            <wsdl:output message="ns:authenticateResponse" wsaw:Action="urn:authenticateResponse"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:authenticateMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="updateCredential">
            <wsdl:input message="ns:updateCredentialRequest" wsaw:Action="urn:updateCredential"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:updateCredentialMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addCredential">
            <wsdl:input message="ns:addCredentialRequest" wsaw:Action="urn:addCredential"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:addCredentialMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="ns:deleteUserRequest" wsaw:Action="urn:deleteUser"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:deleteUserMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCredential">
            <wsdl:input message="ns:deleteCredentialRequest" wsaw:Action="urn:deleteCredential"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:deleteCredentialMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getCredentials">
            <wsdl:input message="ns:getCredentialsRequest" wsaw:Action="urn:getCredentials"/>
            <wsdl:output message="ns:getCredentialsResponse" wsaw:Action="urn:getCredentialsResponse"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:getCredentialsMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="ns:addUserRequest" wsaw:Action="urn:addUser"/>
            <wsdl:fault message="ns:MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException" wsaw:Action="urn:addUserMultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultipleCredentialsUserAdminSoap11Binding" type="ns:MultipleCredentialsUserAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addUsers">
            <soap:operation soapAction="urn:addUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCredential">
            <soap:operation soapAction="urn:updateCredential" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCredential">
            <soap:operation soapAction="urn:addCredential" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCredential">
            <soap:operation soapAction="urn:deleteCredential" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCredentials">
            <soap:operation soapAction="urn:getCredentials" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultipleCredentialsUserAdminSoap12Binding" type="ns:MultipleCredentialsUserAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addUsers">
            <soap12:operation soapAction="urn:addUsers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCredential">
            <soap12:operation soapAction="urn:updateCredential" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCredential">
            <soap12:operation soapAction="urn:addCredential" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap12:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCredential">
            <soap12:operation soapAction="urn:deleteCredential" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCredentials">
            <soap12:operation soapAction="urn:getCredentials" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap12:operation soapAction="urn:addUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException">
                <soap12:fault use="literal" name="MultipleCredentialsUserAdminMultipleCredentialsUserAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultipleCredentialsUserAdminHttpBinding" type="ns:MultipleCredentialsUserAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addUsers">
            <http:operation location="addUsers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <http:operation location="authenticate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCredential">
            <http:operation location="updateCredential"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addCredential">
            <http:operation location="addCredential"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <http:operation location="deleteUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteCredential">
            <http:operation location="deleteCredential"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCredentials">
            <http:operation location="getCredentials"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <http:operation location="addUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultipleCredentialsUserAdmin">
        <wsdl:port name="MultipleCredentialsUserAdminHttpsSoap11Endpoint" binding="ns:MultipleCredentialsUserAdminSoap11Binding">
            <soap:address location="https://192.168.1.2:9443/services/MultipleCredentialsUserAdmin.MultipleCredentialsUserAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultipleCredentialsUserAdminHttpsSoap12Endpoint" binding="ns:MultipleCredentialsUserAdminSoap12Binding">
            <soap12:address location="https://192.168.1.2:9443/services/MultipleCredentialsUserAdmin.MultipleCredentialsUserAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MultipleCredentialsUserAdminHttpsEndpoint" binding="ns:MultipleCredentialsUserAdminHttpBinding">
            <http:address location="https://192.168.1.2:9443/services/MultipleCredentialsUserAdmin.MultipleCredentialsUserAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>